<!-- OpenGraph (Facebook, generic share) -->
<meta property="og:type" content="@@type">
<meta property="og:title" content="@@title">
<meta property="og:description" content="@@description">
<meta property="og:image" content="@@image">
<meta property="og:site_name" content="@@title">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@jessechorng">
<meta name="twitter:title" content="@@title">
<meta name="twitter:description" content="@@description">
<meta name="twitter:creator" content="@@title">
<meta name="twitter:image:src" content="@@image">
