server {
	listen   80;

	root /sites/jessechorng/staging0;
	index index.html index.htm;

	server_name staging0.jessechorng.com;

	location / {
		try_files $uri $uri/ /index.html /index.htm;
	}

	location ~* .(jpg|jpeg|png|gif|ico|css|js|svg)$ {
		expires 1m;
	}


	location /pool {
		alias /sites/pool;
		autoindex off;
		expires max;
	}

}
